#siteQuiz{
    margin-top: 50px;
}
li{
    display: flex !important;
    align-items: center;
    margin-top: 10px;
}
.form-check-label{
    font-size: 24px;
    line-height: 24px;
}
.box-quiz{
    min-height: 250px;
    border: solid 1px black;
}
.form-check-label {
    margin-bottom: 0;
    margin-left: 15px;
} 